.col-12,
.col-6,
.col-md-8,
.col-md-6,
.col-md-4 {
padding: 1rem;

text-align: center;
}

.heading {
    margin-top: 5%;
    color: rgb(29, 88, 29);
    font-size: 40px;
}

.cards {
   
    padding-top: 4rem;
    padding-bottom: 8rem;
    background: #fff;
  }



  @media only screen and (max-width: 1024px) /*this works */ {
    .contentbox {
      
 margin-top: 0rem;
     
    }

    #vu {
      border-top: 3px solid green;
      height: 500px;
         padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    }


    @media only screen and (max-width: 1024px) /*this works */ {
        #vl {
            border-left: 0px solid green;
            height: 500px;
            padding-right: 15px;
            padding-left: 15px;
         
        }

         #avatar {
          margin-bottom: 0%;
          
      }

      #textspace {
        margin-top: 140%;
      }
        
        }

  
  }

 